.ventas_container {
    align-items: center;
    // height: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;

    h1 {
        margin-top: 60px;
    }
}

table {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid #333;

    td {
        border-right: 1px solid #333;
        border-top: 1px solid #333;
        padding: 10px;
        white-space: znowrap;
    }
}
